html, body {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    width: 13px;
}
html::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
html::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgb(252, 95, 69);
    border: 1px solid rgb(252, 95, 69); 
}
body {
    overflow-x: hidden;
}

/*Fonts*/

@font-face {
    font-family: "Libre Baskerville";
    src: url(../fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins/Poppins-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Sacramento";
    src: url(../fonts/Sacramento/Sacramento-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Bebas Neue";
    src: url(../fonts/BebasNeue-Regular.ttf);
}

.ph1 {
    background-image: url(../img/1.jpg);
}

.ph2 {
    background-image: url(../img/2.jpg);
}

.ph3 {
    background-image: url(../img/3.jpg);
}

.ph4 {
    background-image: url(../img/4.jpg);
}

.ph5 {
    background-image: url(../img/5.jpg);
}

.ph6 {
    background-image: url(../img/6.jpg);
}

.cap1 {
    background-image: url(../img/business-partners.jpg);
}

.cap2 {
    background-image: url(../img/step2.jpg);
}

.cap3 {
    background-image: url(../img/working-place.jpg);
}

.cap4 {
    background-image: url(../img/ever.jpg);
}

@media (max-width: 1160px) {
    .wrapper {
        width: 810px;
        height: 335px;
    }
    .signature {
        margin: 15px 0 10px;
        font-size: 35px;
    }
    .wrapper-block-two {
        margin: 250px auto;
    }
    .wrapper-block-three {
        transform: translate(-50%, -228px);
        height: 1629px;
        gap: 140px;
        width: 916px;
    }
    .wrapper-three {
        width: 760px;
    }
    .select-button {
        margin: 300px 0 160px 0;
    }
    .h_one {
        font-size: 40px;
    }
    .header_p {
        font-size: 15px;
    }
    .footer {
        width: 950px;
    }
    .three_p-header {
        padding: 0 250px;
    }
    .photo {
        width: 540px;
        height: 310px;
    }
    
}

@media (max-width: 1197px) {
    .wrapper-three {
        justify-content: center;
    }
    .three_p-header {
        padding: 0 300px;
    }
}

@media (max-width: 1100px) {
    .footer {
        width: 850px;
    }
    .three_p-header {
        padding: 0 100px;
        font-size: 15px;
    }
    .wrapper-three {
        width: 760px;
    }
}

@media (max-width: 1000px) {
    .footer {
        width: 750px;
    }
    
}

@media (max-width: 965px) {
    .controls {
        bottom: 214px;
        right: 144px;
    }
    .slide-box {
        align-items: center;
        flex-direction: column;
        
    }
    .text {
        line-height: 19px;
        width: 60%;
        height: 60%;
        font-size: 10px;
    }
    .photo {
        width: 180px;
        height: 280px;
    }
    .wrapper {
        top: 50%;
        height: 395px;
        width: 735px;
    }
    .wrapper-block-three {
        width: 600px;
    }
    .h_one {
        top: 10%;
        font-size: 38px;
    }
    .header_p {
        font-size: 13px;
        top: 21%;
    }
    .footer {
        width: 650px;
    }
    .footer-part2 h4, .footer-part3 h4, .footer-part4 h4 {
        font-size: 18px;
    }
    .footer p {
        font-size: 13px;
    }
    .footer img {
        width: 100px;
    }
    .wrapper-five {
        background-size: cover;
        background-position: center;
    }
    .wrapper-two {
        width: 758px;
    }
    .line1, .line2, .line3, .line4 {
        left: 410px;
    }
    .hr {
        top: 10px;
    }
    .block2 {
        top: 0%;
    }
    .block3 {
        top: 0%;
    }
    .three_p-header {
        font-size: 13px;
    }
    .signature {
        font-size: 31px;
    }
    .wrapper h3:nth-child(2){
        font-size: 15px;
    }
    .wrapper-five .block4 {
        top: 0%;
    }
}


@media (max-width: 810px) {
    .footer {
        width: 484px;
    }
    .footer p {
        font-size: 12px;
        line-height: 22px;
    }
    .form_flex_block {
        width: 643px;
    }
    .wrapper-five .block4 {
        top: 0%;
    }
    .wrapper-three {
        width: 300px;
    }
    .select-button {
        margin: 999px 0 160px 0;
    }
    .slider-wrap2 {
        flex-direction: column;
        align-items: center;
    }
    .wrapper-two {
        height: 600px;
        width: 690px;
    }
    .controls2 {
        bottom: 338px;
        left: 369px;
    }
    .line1 {
        left: 265px;
        top: 430px;
    }
    .line2 {
        top: 463px;
        left: 265px;
    }
    .line3 {
        top: 494px;
        left: 265px;
    }
    .line4 {
        top: 528px;
        left: 265px;
    }
    .wrapper-block-three {
        width: 541px;
    }
    .skill_head {
        padding: 45px 0 0 45px;
    }
    .skill-block {
        width: 100%;
    }
}

@media (max-width: 760px) {
    .wrapper-two {
        width: 674px;
    }
    .controls2 {
        left: 329px;
    }
    .line1, .line2, .line3, .line4 {
        left: 247px;
    }
    .wrapper {
        width: 674px;
    }
    .controls {
        right: 130px;
    }
}

@media (max-width: 712px) {
    .wrapper {
        width: 660px;
    }
    .wrapper-two {
        width: 668px;
    }
}

@media (max-width: 680px) {
    .wrapper {
        width: 640px;
    }
    .controls {
        right: 110px;
        bottom: 222px;
    }
    .wrapper-two {
        width: 510px;
    }
    .controls2 {
        left: 245px;
    }
    .line1, .line2, .line3, .line4 {
        left: 160px;
    }
}

@media (max-width: 660px) {
    .wrapper {
        width: 600px;
    }
    .controls {
        right: 90px;
        bottom: 203px;
    }
    .text {
        width: 70%;
        padding: 5px 50px 0 80px;
    }
    .form_flex_block {
        width: 560px;
    }
    .select-button {
        flex-direction: column;
    }
    .select-button h2 {
        margin: 0 20px 50px 0;
    }
    .footer {
        width: 447px;
    }
    .svg {
        width: 24px;
    }
    .footer p {
        line-height: 18px;
        font-size: 11px;
    }
    .footer img {
        width: 80px;
    }
}
@media (max-width: 615px) {
    .wrapper {
        width: 570px;
    }
}
@media (max-width: 595px) {
    .wrapper {
        width: 570px;
    }
    .text {
        padding: 5px 30px 0 80px;
    }
}

@media (max-width: 590px) {
    .wrapper {
        width: 400px;
        height: 500px;
    }
    .header {
        height: 150vmin;
    }
    .controls {
        right: 6px;
        bottom: 274px;
    }
    .footer{
        width: 380px;
        padding: 20px 20px 13px;
    }
    svg {
        width: 22px;
    }
    .footer img {
        width: 65px;
    }
    .form_flex_block {
        width: 399px;
    }
    .block_p {
        font-size: 16px;
    }
    .select-button h2 {
        margin: 0px 20px 50px 11px;
    }
    .skills-block {
        width: 100%;
    }
    .wrapper-two {
        width: 400px;
    }
    .controls2 {
        left: 193px;
    }
    .skill-item {
        font-size: 10px;
        margin: 15px 30px;;
    }
    .percentage {
        width: 200px;
    }
    .line1, .line2, .line3, .line4 {
        left: 155px;
    }
    .line1 {
        top: 479px;
    }
    .line2 {
        top: 511px;
    }
    .line3 {
        top: 447px;
    }
    .line4 {
        top: 546px;
    }
    .line1::after, .line2::after, .line3::after, .line4::after {
        left: 210px;
        font-size: 11px;
    }
    .wrap-menu span {
        font-size: 12px;
    }
    .wrapper-block-three {
        width: 375px;
    }
    .wrapper-block-two {
        width: 400px;
    }
    .flex {
        background-size: contain;
    }
}