* {
    --main-color: #fc5f45;
}

.top-menu {
    top: 0;
    position: fixed;
    width: 100%;
    height: 45px;
    background-color: rgb(255,255,255,0.8);
    z-index: 666;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 50px;
    box-shadow: inset 0 0 20px rgb(0 0 0 / 5%);
    box-sizing: border-box;
}
.wrap-menu {
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    justify-content: space-evenly;
}
.wrap-menu span {
    color: rgba(0,0,0,.7);
    font-family: "Poppims", sans-serif;
    font-size: 14px;
    transition: .5s;
}
.wrap-menu span:hover{
    color: var(--main-color);
}
.wrap-menu a {
    text-decoration: none;
}
.header {
    width: 100%;
    height: 100vmin;
    position: relative;
    background-image: url(../img/24012303.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.filter {
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: rgba(38, 39, 50, 0.85);
}

.h_one{
    margin-block-start:0;
    position: absolute;
    font-family: 'Libre Baskerville', serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 80px;
    text-align: center;
}

.pos-white {
    top: 13%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
}

.header_p {
    margin-block-start: 10px;
    display: block;
    font-family: 'Poppins', sans-serif;
    color: #fff !important;
    font-size: 17px;
    font-weight: 400;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 23%;
    text-align: center;
}

.flex-icons img {
    width: 80%;
}
.wrapper {
    transform: translate(-50%, -30%);
    left: 50%;
    top: 50%;
    position: relative;
    overflow: hidden;
    width: 1000px;
    height: 300px;
}
.button:hover {
    background-color: #fff;
    color: #fc5f45;
    border: 1px solid #fc5f45;
}
.signature {
    color: #272727;
    font-size: 40px;
    margin: 30px 0px 20px;
    font-family: "Sacramento", sans-serif;
}

input[type="radio"] {
    visibility: hidden;
    position: absolute;
}

.controls {
    display: flex;
    position: absolute;
    bottom: 5px;
    right: 0px;
    z-index: 3;
}

.bar {
    height: 10px;
    width: 10px;
    border-radius: 15px;
    background-color: white;
    margin-right: 6px;
    transition: all .4s ease;
    cursor: pointer;
}

.bar:hover {
    transform: scale(1.3);
    background-color: rgb(252, 95, 69);
}

.slide-box {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.photo {
    box-sizing: border-box;
    width: 440px;
    height: 275px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}


.text {
    padding: 5px 100px 0 80px;
    width: 100%;
    height: 80%;
    background-color: #fff;
    border-bottom: solid 3px rgb(252, 95, 69);
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    color: #616161;
    text-align: left;
}

h3 {
    color: #272727;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin-left: 70px;
    margin-left: 0px;
    margin-block-start: 0em;
    margin-block-end: 0;
}

.s1, .s2, .s3, .s4, .s5, .s6 {
    visibility: hidden;
}

#r1:checked ~ .s1 {
    visibility: visible;
}

#r2:checked ~ .s2 {
    visibility: visible
}

#r3:checked ~ .s3 {
    visibility: visible
}

#r4:checked ~ .s4 {
    visibility: visible
}

#r5:checked ~ .s5 {
    visibility: visible
}

#r6:checked ~ .s6 {
    visibility: visible
}

#r1:checked ~  .controls .c1 {
    background-color: rgb(252, 95, 69) ;
}

#r2:checked ~  .controls .c2 {
    background-color: rgb(252, 95, 69) ;
}

#r3:checked ~  .controls .c3 {
    background-color: rgb(252, 95, 69) ;
}

#r4:checked ~  .controls .c4 {
    background-color: rgb(252, 95, 69) ;
}

#r5:checked ~  .controls .c5 {
    background-color: rgb(252, 95, 69) ;
}

#r6:checked ~  .controls .c6 {
    background-color: rgb(252, 95, 69) ;
}
p {
    margin-block-start: 0;
    margin-inline-start: 0px;
    color: rgb(252, 95, 69);
}

.block_p {
    display: block;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
}

.block2 {
    position: relative;
    margin-top: 50px;
}

.wrapper-block{
    position: relative;
}
.wrapper-block-two {
    display: flex;
    width: 540px;
    height: 1165px;
    margin: 100px auto;
    flex-direction: column;
}

.flex {
    width: 100%;
    height: 25%;
    background-size: cover;
}


.wrapper-block-three {
    display: flex;
    top:0;
    left: 50%;
    transform: translate(-50%, -45px);
    position: absolute;
    width: 1140px;
    height: 1165px;
    flex-direction: column;
}
.block {
    position: relative;
    width: 458px;
    height: 25%;
    box-sizing: border-box;
    background-color: #fff;
    padding: 70px 55px 40px 120px;
    box-shadow: 0 0 20px rgb(0 0 0 / 5%);
    box-sizing: border-box;
}
.model1 {
    border-bottom: 3px solid rgb(252, 95, 69);
}
.model2 {
    align-self: end;
    border-bottom: 3px solid rgb(56, 198, 149);
}
.model3 {
    border-bottom: 3px solid rgb(178, 124, 245);
}
.model4 {
    align-self: end;
    border-bottom: 3px solid rgb(254, 185, 96);
}
.png_cap {
    position: absolute;
    top: 35px;
    left: 30px;
}
.inside-flex_h4 {
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    color: #272727;
    font-weight: 400;
    line-height: 1.2;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0px 0px 8px;
}
.inside_flex_p {
    color: #616161;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    font-family: "Poppins", sans-serif;
}
.hr {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: rgb(254, 185, 96, 0.4);
}
.h-three-header {
    text-align: center;
    font-family: "Bebas Neue";
    font-size: 42px;
    color: #272727;
    letter-spacing: 4px;
    font-weight: 500;
    margin-block-end: 0;
}
.hr2 {
    position: relative;
    width: 130px;
    height: 2px;
    background-color: rgb(252, 95, 69);
    left: 50%;
    transform: translate(-50%);
}
.three_p-header {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-align: center;
    color: #272727;
    margin: 25px 0 15px;
    padding: 0 400px;
}

.wrapper-two {
    position: relative;
    width: 800px;
    height: 320px;
    top: 35px;
    left: 50%;
    transform: translate(-50%);
}

.slider-wrap2 {
    box-sizing: border-box;
    position: absolute;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.team-block {
    position: relative;
    height: 100%;
    width: 250px;
    background-color: #EBEBEB;
    overflow: hidden;
}

.skills-block {
    height: 100%;
    width: 510px;
    background-color: #EBEBEB;
    overflow: hidden;
}

.rounded {
    width: 100px;
    border-radius: 100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50px);
}
.team_sign {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    color: #272727;
    font-size: 15px;
    text-align: center;
    padding: 165px 0 0 0 ;
    line-height: 16px;
}

.prof_sign {
    font-family: "Poppins", sans-serif;
    color: #616161;
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
}

.controls2 {
    display: flex;
    position: absolute;
    bottom: 50px;
    left: 118px;
    transform: translate(-50%);
}

.bar-two {
    height: 10px;
    width: 10px;
    background-color: #fff;
    margin-left: 12px;
    border-radius: 5px;
    cursor: pointer;
}
.ss1, .ss2, .ss3 {
    visibility: hidden;
}

#rr1:checked ~ .ss1 {
    visibility: visible;
}
#rr2:checked ~ .ss2 {
    visibility: visible;
}
#rr3:checked ~ .ss3 {
    visibility: visible;
}
#rr1:checked ~ .controls2 .cc1 {
    background-color: #272727;
    transform: scale(1.1, 1.1);
}
#rr2:checked ~ .controls2 .cc2 {
    background-color: #272727;
    transform: scale(1.1, 1.1);
}
#rr3:checked ~ .controls2 .cc3 {
    background-color: #272727;
    transform: scale(1.1, 1.1);
}
.skill_head {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    color: #272727;
    font-size: 17px;
    padding: 75px 0px 0px 45px;
    line-height: 16px;
}
.lorem {
    font-family: "Poppins", sans-serif;
    color: #272727;
    font-size: 12px;
    margin: 10px 0 0 10px;
    padding: 0 40px 0 35px;
}
.skill_item {
    font-family: "Poppins", sans-serif;
    color: #272727;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 15px 45px;
}
.percentage {
    position: absolute;
    width: 260px;
    height: 3px;
    background-color: #fff;
}
.line1, .line2, .line3, .line4 {
    top: 159px;
    left: 442px;
}
.line1::after, .line2::after, .line3::after, .line4::after {
    content: "88%";
    position: absolute;
    top: -7px;
    left: 275px;
    font-family: "Poppins", sans-serif;
    color: #616161;
    font-size: 12px;
}
.perc1, .perc2, .perc3, .perc4 {
    height: inherit;
    width: 88%;
    background-color: rgb(252, 95, 69);
}
.line2 {
    top: 194px;
}
.line2::after {
    content: "92%";
}
.perc2 {
    width: 92%;
}
.line3 {
    top: 228px;
}
.line3::after {
    content: "90%";
}
.perc3 {
    width: 90%;
}
.line4 {
    top: 260px;
}
.line4::after {
    content: "98%";
}
.perc4 {
    width: 98%;
}
.hr3 {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: rgb(254, 185, 96, 0.4);
    top: 125px;
}
.flex-icons {
    display: flex;
    position: relative;
    width: 70px;
    left: 50%;
    transform: translate(-50%);
    height: 19px;
    justify-content: space-between;
}
.block3 {
    position: relative;
    margin-top: 180px;
}
.wrapper-three {
    display: flex;
    position: relative;
    width: 1140px;
    height: 419.50px;
    left: 50%;
    transform: translate(-50%);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.wrap-four-block {
    width: 380px;
    height: 207px;
}
.wrap-four-block img {
    position: relative;
    top: 55px;
    left: 5px;
}
.select-card {
    color: #272727;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    font-family: "Poppins", sans-serif;
    margin: 0px 0 0 70px;
}
.card_p {
    font-family: "Poppins", sans-serif;
    color: #616161;
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    margin: 15px 0 0 5px;
}
.wrapper-four {
    position: relative;
    width: 100%;
    height: 55px;
    margin: 5px 0 0 0;
    left: 50%;
    transform: translate(-50%);
}
.select-button {
    width: 100%;
    height: 50px;
    display: flex;
    margin: 160px 0 160px 0;
    align-items: center;
    justify-content: center;
}
.select-button h2 {
    color: #272727;
    font-size: 25px;
    font-weight: 400;
    line-height: 26px;
    font-family: "Poppins", sans-serif;
    margin: 0 20px 8px 0;
}
.button {
    width: 181px;
    height: 50px;
    border-radius: 25px;
    background-color: #fc5f45;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
    outline: none;
    list-style: none;
    text-decoration: none;
}
.button span {
    padding: 0 38px;
}
.select-button a {
    text-decoration: none;
    border-radius: 25px;
}

.wrapper-five {
    position: relative;
    width: 100%;
    height: 1260px;
    background-image: url(../img/bgFooter.jpg);
    top: 170px;
    background-size: 155%;
    background-repeat: no-repeat;
    background-position: bottom;
}
.block4 {
    position: relative;
    margin-top: 70px;
}
.wrapper-five .empty {
    width: 100%;
    height: 1px;
}
.form_flex_block {
    position: relative;
    width: 760px;
    height: 601px;
    left: 50%;
    transform: translate(-50%, 80px);
    box-sizing: border-box;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}

.name-holder, .mail-holder, .subject-holder, .project_budget-holder {
    position: relative;
    flex: 0 0 50%;
    max-width: 50%;
    display: inline-block;
    margin: 0 0 10px 0;
}
.name-holder label, .mail-holder label, .subject-holder label, .project_budget-holder label {
    width: 90%;
    height: 50px;
    margin-left: 2.5%;
}
.name-holder input, .mail-holder input, .subject-holder input, .project_budget-holder input {
    width: inherit;
    height: inherit;
    border-radius: 4px;
    border: 1px solid #efefef;
    background-color: #fff;
    text-align: center;
    font-family: Poppins, sans-serif;
    margin: 0 0 0 10px;
    font-size: 16px;
}

.form_flex_block input:focus, .form_flex_block textarea:focus{
    border-color: #fc5f45;
    outline: none;
}

.message-holder {
    position: relative;
    flex: 0 0 100%;
    max-width: 100%;
    display: inline-block;
    margin: 0 0 10px 0;
}
.message-holder label {
    height: 250px;
    width: 95%;
    margin-left: 10px;
}
.message-holder textarea {
    width: inherit;
    height: inherit;
    border-radius: 4px;
    border: 1px solid #efefef;
    background-color: #fff;
    text-align: center;
    font-family: Poppins, sans-serif;
    margin: 0 0 0 10px;
    font-size: 16px;
    line-height: 2;
}
.button-holder {
    position: relative;
    flex: 0 0 100%;
    max-width: 100%;
    display: inline-block;
    height: 200px;
}
.button-holder button {
    margin: auto;
    width: 190px;
    height: 50px;
    border-radius: 25px;
    background-color: #fc5f45;  
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
    display: flex;
    margin-top: 60px;
    margin-bottom: 165px;
    justify-content: center;
    border: none;
    outline: none;
    transition: .5s;
    box-sizing: border-box;
}
.button-holder button:hover {
    background-color: #fff;
    border: 1px solid #fc5f45;
}

.button-holder .mes_but {
    width: inherit;
    height: inherit;
    text-decoration: none;
    color: #ffffff;
    transition: .5s;
    font-family: "Times New Roman";

}
.button-holder .mes_but:hover{
    color:#fc5f45;
    font-size: 15px;
    font-weight: 600;
}

.footer {
    display: flex;
    position: relative;
    width: 1000px;
    height: 160px;
    background-color: rgba(38, 39, 50, 0.85);
    padding: 65px 60px 30px;
    top: 90px;
    left: 50%;
    transform: translate(-50%);
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(to right, #fc5f45 0%, #fc5f45 25%, 
    #38c695 25%, #38c695 50%, #b27cf5 50%, #b27cf5 75%, 
    #feb960 75%, #feb960 100%) 1 1;
}
.footer-part1, .footer-part2, .footer-part3, .footer-part4 {
    position: relative;
    height: 100%;
    width: 25%;
    padding: 0 15px;
}
.footer h4 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    margin: 0 0 16px;
}
.footer p {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #fff;
    font-family: "Poppins", sans-serif;
}
.footer .footer-part2 h4 {
    color: #38c695;
}
.footer .footer-part3 h4 {
    color: #b27cf5;
}
.footer .footer-part4 h4 {
    color: #feb960;
}
svg {
    width: 30px;
}
.footer-part4 span {
    margin-left: 5px;
}
